body {
  background-image: url("../img/background.jpg");
}

form, h2, h3 {
  padding-top: 20px;
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
  color: purple;
}

ol {
  background: rgba(23, 138, 157, 0.5);
  width: 80%;
  align-text: center;
  margin-left: 15%;
  margin-right: 15%;
  border-radius: 15px;
}
